# Backend API URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:8095

# WebSocket URL
NEXT_PUBLIC_WS_URL=http://localhost:8095

# Agora App ID (Development)
NEXT_PUBLIC_AGORA_APP_ID=3cf2d97578e14465af1967b786346f06
