<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
  id="https://nightwatch.in"
  version="2.15.0"
  viewmodes="maximized">
  <tizen:application id="nightwatch.in.tv" package="com.nightwatch" required_version="2.3"/>
  <name>Nightwatch</name>
  <icon src="icon.png"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
  <tizen:privilege name="http://tizen.org/privilege/websetting"/>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto"/>
  <access origin="https://nightwatch.in" subdomains="true"/>
  <access origin="*" subdomains="true"/>
</widget>
