<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeXKp6BmmFytjWu0MzbhJ9wluk_01AWcU</string>
	<key>GCM_SENDER_ID</key>
	<string>99440023345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nightwatch.in</string>
	<key>PROJECT_ID</key>
	<string>nightwatch-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>nightwatch-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99440023345:ios:357d71e0dc1f2d047b8210</string>
</dict>
</plist>